:root {
  --Dark-cyan: hsl(185, 75%, 39%);
  --Very-dark-desaturated-blue: hsl(229, 23%, 23%);
  --Dark-grayish-blue: hsl(227, 10%, 46%);
  --Dark-gray: hsl(0, 0%, 59%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background: url(images/bg-pattern-top.svg), url(images/bg-pattern-bottom.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: -5vw -40vh, 60vw 50vh;
  background-size: 50% auto;
  background-color: var(--Dark-cyan);
  font-family: "Kumbh Sans", sans-serif;
}

body {
  display: grid;
  place-items: center;
  height: 100vh;
}

.container {
  background-image: url(images/bg-pattern-card.svg);
  width: 35rem;
  height: 36rem;
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 5rem 1rem #0000002c;
}

.container-bottom {
  background-color: #fff;
  height: 60%;
  margin-top: auto;
  position: relative;
}

.img-container {
  position: absolute;
  top: -50%;
  left: 50%;
  transform: translate(-50%, 50%);
}

.img-container > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid #fff;
}

.user-info {
  width: 100%;
  height: 100%;
}

.user-info > h1 {
  text-align: center;
  padding-top: 6rem;
}

.user-info > h2 {
  text-align: center;
  font-weight: 400;
  padding-top: 1rem;
  color: #616161;
}

h1 > span {
  color: #616161;
  font-weight: 400;
  margin-left: 5px;
}

.following {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 5rem;
  margin-top: 2rem;
  padding: 2rem 0;
  border-top: 1px solid #d6d6d6;
}

.user-data {
  font-size: 1.8rem;
  font-weight: 700;
  text-align: center;
}

.data-text {
  font-size: 1.2rem;
  font-weight: 400;
  display: block;
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: fixed;
  bottom: 1em;
  left: 1em;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 24em) {
  html {
    background-position: -110vw -30vh, 45vw 60vh;
    background-size: 60rem auto;
  }
}
